<template>
<div class="container">
    <div class="py-4"></div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4" >
            <ul class="nav inav nav-justified ">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name:'AdminCourses'}">Courses</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name:'AdminUsers'}">Users</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name:'AdminCoupons'}">Coupons</router-link>
                </li>
            </ul>
            <div class="py-4"></div>
        </div>
        <div class="col-sm-12">
            <router-view></router-view>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            isInnerPageLoading:true,
        }
    },
}
</script>

<style>

</style>
