<template>
    <div class="row">
        <div class="col-sm-12">
            <h6>Edit {{course.name}}</h6>
        </div>
        <div class="col-sm-12 col-md-9">
        <div class="form-group">
            <input type="text" class="form-control" v-model="course.name">
        </div>
            <div class="py-2"></div>
            <h6>Details</h6>
            <vue-editor id="course_description" v-model="course.description"></vue-editor>
            <div class="py-2"></div>
            <h6>Features</h6>
            <vue-editor id="course_features" v-model="course.features"></vue-editor>
            <div class="py-2"></div>
            <div class="col-sm-12">
                <h6>Videos</h6>
                <button class="btn btn-info btn-sm">Upload New Video </button>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4" v-for="video in course.videos" :key="video.id">
                    <div class="card">
                        <img class="img-fluid" :src="video.files.thumbnail" alt="">
                        <div class="card-body">
                            <span>{{video.name}}</span>
                        </div>
                        <div class="list-group">
                            <a v-for="(source, index) in video.files.sources" :key="source.id" target="_blank" :href="source.src" class="list-group-item list-group-item-action">
                                {{source.quality}}
                                <a href="#" v-if="Object.keys(video.files.sources).length !== 1" class="btn btn-sm btn-danger float-right" @click.prevent="$delete(video.files.sources,index)">Remove</a>
                                <a href="#" class="btn btn-sm btn-primary float-right">Edit</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-sm-12 col-md-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th><small><i>Last updated {{course.updated_at | moment("from")}}</i></small></th>
                    </tr>
                    <tr>
                        <td><small><i>Created  {{course.created_at | moment("DD MMMM,YYYY")}}</i></small></td>
                    </tr>
                    <tr>
                        <td>Price
                            <div class="input-group ">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        Rs.
                                    </span>
                                </span>
                                <input class="form-control" type="number" v-model="course.price" :disabled="isloading">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GST
                            <div class="input-group ">
                                <input class="form-control" type="number" v-model="course.gst_percentage" :disabled="isloading">
                                <span class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Status
                            <select v-model="course.status" class="form-control" :disabled="isloading">
                                <option value="0">Inactive</option>
                                <option value="1">Active</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-sm" :disabled="isloading" @click="UpdateCourse">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
   </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
export default {
   components: {
      VueEditor
   },
    data() {
        return {
            isloading:false,
            course:{
            },
            message:"Loading...",        
        }
    },
    created(){
        this.Getcourse();
    },
    computed: {
        Jsonify(){
        let course = this.course;
            for (let i = 0; i < course.videos.length; i++) {
                course.videos[i].files = JSON.parse(course.videos[i].files);
            }
        }
    },
    methods: {
        UpdateCourse(){
        this.isloading = true;
        this.$store.dispatch("CourseUpdate",{token:this.$store.state.token,course:this.course}).
            then(res => {
                this.course = res.data;
                this.message = "No Active course found";
                new Noty({type: 'success',text: "Updated"}).show();

            })
            .catch(error=>{
                console.log(error.message)
            })
            .then(()=>{
                this.isloading = false;
            })
        },
        Getcourse(){
            self = this;
            this.isloading = true;
            this.course = {};
            this.message = "Loading..";
            this.$store.dispatch("Course",{token:this.$store.state.token,course:this.$route.params.course}).
            then(res => {
                this.course = res.data;
                this.message = "No Active course found";
                self.Jsonify()
            })
            .catch(error=>{
                console.log(error.message)
            })
            .then(()=>{
                this.isloading = false;
            })
        }
    },
}
</script>

<style>

</style>
