<template>
    <div class="">
        <h5 class="float-left">Courses ({{courses.length}})</h5>
        <div class="float-right py-2">
            <router-link :to="{name:'AdminCourseAdd'}" class="btn btn-sm btn-theme">Add</router-link>
            <button class="btn btn-sm btn-theme" @click="GetCourses">Refresh</button>
        </div>
        <table class="table table-bordered table-sm">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Desc</th>
                    <th>Status</th>
                    <!-- <th>Actions</th> -->
                </tr>
            </thead>
            <tbody v-if="courses.length >= 1">
                <tr v-for="course in courses" :key="course.id">
                    <td>{{course.id}}</td>
                    <td> <router-link :to="{name:'AdminCourseView',params:{course:course.slug}}">{{course.name}}</router-link></td>
                    <td>{{course.description.substring(0,30)+'...'}}</td>
                    <td>{{course.status.message}}</td>
                    <!-- <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" v-if="course.status.value == 1" href="#">Deactivate</a>
                                <a class="dropdown-item" v-else href="#">Activate</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>
                    </td> -->
                </tr>
            </tbody>
            <tbody v-else>
                <tr class="text-center">
                    <th colspan="4">{{message}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            courses:{},
            message:"Loading...",        
        }
    },
    created(){
        this.GetCourses();
    },
    methods: {
        GetCourses(){
            this.courses = {};
            this.message = "Loading..";
            this.$store.dispatch("Courses",{token:this.$store.state.token}).
            then(res => {
                let cout = res.data;
                for (let i = 0; i < cout.length; i++) {
                    const element = cout[i];
                    if(element.status == "1"){
                        cout[i].status = {value:1,message:"Active"};
                    }
                    else{
                        cout[i].status = {value:1,message:"Inactive"};
                    }
                    
                }
                this.courses = cout;
                this.message = "No Active Courses found";
            })
            .catch(error=>{
                console.log(error.message)
            })
            .then(()=>{

            })
        }
    },
}
</script>

<style>

</style>
