<template>
    <div v-if="!isLoading" class="">
        <h4>{{purchase.course.name}}</h4>
        <table class="table table-bordered table-sm">
            <tbody>
                <tr>
                    <th>Transaction ID</th>
                    <th>{{purchase.transaction.id}}</th>
                </tr>
                <tr class="text-center bg-dark text-white">
                    <th colspan="2">Transaction</th>
                </tr>
                <tr>
                    <th>Net Amount</th>
                    <th>Rs.{{purchase.transaction.amount.price}}</th>
                </tr>
                <tr>
                    <th>GST @ {{purchase.transaction.tax.percentage}}%</th>
                    <th>Rs.{{purchase.transaction.tax.amount}}</th>
                </tr>
                <tr v-if="purchase.transaction.coupon.status">
                    <th>Discount</th>
                    <th>- Rs.{{purchase.transaction.coupon.discount}}</th>
                </tr>
                <tr v-if="purchase.transaction.coupon.status">
                    <th>Coupon Code</th>
                    <th>{{purchase.transaction.coupon.code}}</th>
                </tr>
                <tr>
                    <th>Total Paid</th>
                    <th>Rs.{{purchase.transaction.amount.total}}</th>
                </tr>
            </tbody>
        </table>
        <h4>Resource Access</h4>
        <table class="table table-sm table-bordered">
            <tr  v-for="video in purchase.course.videos" :key="video.id">
                <th>{{video.name}}</th>
                <td v-if="video.usage">
                    <p v-if="video.usage.video_finished"><i class="material-icons text-success">done_all</i> <i>Video Finished</i></p>
                    <p v-else><i class="material-icons text-info">history</i><i>Video Activated</i></p>

                    <p v-if="video.usage.activity_completed !=='0'"><i class="material-icons text-success">done_all</i> <i>Activity Finished</i></p>
                    <p v-else><i class="material-icons text-info">history</i><i>Activity Pending</i> <a @click.prevent="CompleteActivity(video.id)" class="float-right" href="#">Complete Activity</a></p>
                </td>
                <th v-else>
                    <p><i class="material-icons text-warning">hourglass_empty</i> <i>Video Not Activated.</i></p>
                </th>
            </tr>
        </table>
    </div>
    <div v-else class="">
        <div class="text-center" >
            <div class="spinner-border text-secondary" role="status"></div>
            <h6 class="text-secondary py-2">Loading</h6>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isLoading:false,
            purchase:{
                course:{},
                transaction:{}
            }
        }
    },
    watch: {
        '$route.params.course'(){
            this.GetPurchase()
        }
    },
    mounted() {
        this.GetPurchase()
    },
    methods: {
        GetPurchase(){
            this.isLoading = true;
            this.$store.dispatch("GetPurchase",{id:this.$route.params.course}).
            then(res=>{
                res.data.transaction = JSON.parse(res.data.transaction);
                this.purchase = res.data;
                
            }).
            catch(error=>{

            }).
            then(()=>{
                this.isLoading = false;
            })
        },
        CompleteActivity(id){
            this.isLoading = true;
            this.$store.dispatch("VideoAccess",{
                video:id,
                activity_completed:1,
            }).
            then(res=>{
                res.data.transaction = JSON.parse(res.data.transaction);
                this.GetPurchase();
            }).
            catch(error=>{

            }).
            then(()=>{
                this.isLoading = false;
            })  
        }
    },
}
</script>

<style>

</style>
