<template>
  <vue-plyr ref="plyr">
    <video></video>
<div v-if="model">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Activity for {{$store.state.video.name}}</h5>
                </div>
                <div class="modal-body">
                    {{$store.state.video.endgame}}
                    <br/>
                    <br/>
                    <small class="text-theme">You will have access to the next video once you finish the current activity. or it might unlock automatically in 10 hrs.</small>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" @click="model = false">Continue</button>
                </div>
            </div>
        </div>

        </div>
      </div>
    </transition>
</div>
  </vue-plyr>
</template>
<script>
  export default{
    name: 'VideoPlayer',
    data() {
        return {
            model:false,
        }
    },
    mounted (){
        this.player.on('ended', () => {
            this.$store.dispatch("VideoAccess",{token:this.$store.state.token,video:this.$store.state.video.id,video_finished:"true"})
            this.model = true;
        });
        this.player.on('pause', () => {
            // this.$store.dispatch("VideoAccess",{token:this.$store.state.token,video:this.$store.state.video.id,video_finished:this.player.currentTime})
        })
    },
    watch:{
        "$refs.plyr.player"(){

        },
       "$store.state.video"(){
            let player      = this.$refs.plyr.player;
            let sources = this.$store.state.video.files.sources;
            let src         = []

            for (let index = 0; index < Object.keys(sources).length; index++) {
                const element = sources[index];
                src.push({src:element.src,type: 'video/mp4',size: element.quality})
            }
            player.source = {
                type: 'video',
                poster:this.$store.state.video.thumbnail,
                title: this.$store.state.video.name,
                sources: src,
                tracks :sources ? sources:""
            }
        }
    },
    computed: {
        player () { return this.$refs.plyr.player }
    }
  }
</script>